@tailwind base;
@tailwind components;
@tailwind utilities;

/* .MainPage{
    background: url(https://videos.pexels.com/video-files/9867271/9867271-uhd_2560_1440_24fps.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
} */



.VideoMain{
    width: 100%;
    
    
   }
   .VideoDiv{
     position: relative;
   }

.NewVideo{
    width: 100%;
}

.MainPage{
    position: absolute;
    top: 0%;
    left: 500px;
    /* background-color: rgba(230, 212, 212, 0.808); */
    backdrop-filter: blur(2px);
    /* opacity: 100px; */
}

.LoginDiv{
   height: 90vh;
}