@tailwind base;
@tailwind components;
@tailwind utilities;

/* .MainPage{
    background: url(https://videos.pexels.com/video-files/9867271/9867271-uhd_2560_1440_24fps.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
} */



.VideoMain {
    width: 100%;
}

.VideoDiv {
    position: relative;
}

.NewVideo {
    width:100%;
 
}

.MainPage {
    position: absolute;
    top: 0%;
    left: 500px;
    /* background-color: rgba(230, 212, 212, 0.808); */
    backdrop-filter: blur(2px);
    /* opacity: 100px; */
}

.LoginDiv {
    height: 90vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 121, 9, 1) 50%, rgba(0, 212, 255, 1) 100%);
}
section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.HomeMain {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px solid greenyellow;
    border-radius: 50%;
    position: relative;
}

/* .HomeParent{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
   border-radius: 50%;
   background-color: antiquewhite;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translate(-100%,-50%);
   transform-origin: 300px;
   animation: Rotate 5s linear infinite;
} */


/* @keyframes Rotate{
    0%{
        transform: translate(-100%,-50%) rotate(0deg);

    }
    100%{
        transform: translate(-100%,-50%)rotate(360deg);

    }
} */

h1 {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: antiquewhite;
    transform: translate(-100%,-50%);
    transform: rotateY(30deg);
    animation: Loading 25s reverse infinite;
}


@keyframes Loading {
    0% {
        transform: rotate(0deg) translate(-100%, -60%) rotate(260deg);
    }

    100% {
        transform: rotate(360deg) translate(-100%, -60%)rotate(260deg);
    }
}

body {
  
    font-family: Arial, sans-serif;
    width:100%;
    height:100vh;
    background-color: #f0f0f0;
  }
.rotate{
    color: red;
    animation: rotate 5s linear infinite;
  }

  @keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
  }